@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #231eb4;
    --foreground: #767474;
  }
}

body {
  background: linear-gradient(180deg, #88c8f3 0%, #a9adb3 100%);
  color: var(--foreground); /* Mantiene el soporte para modo oscuro */
  font-family: 'Inter', sans-serif;
}
